doctype html
html(lang='en')
 head
   title Scheduled!
   link(rel='stylesheet' href='css/scheduled.css')
   script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
   script(src='javascript/teacher_main.js')
 body
   div(class="center")
     h1 Class cannot be scheduled because another class overlaps with it.
     button(id='hp_btn') Go back to Home page